h1 {
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#nameh1{
  color:white;
}

#nameHeading{
  height:100%; 
  width:26%;
  float: left;
  margin-left: -2.8%;
  margin-bottom: -1%;
}


img{
  float:left;
  overflow: auto;
}
.thumbnail {
    position: relative;
    display: inline-block;
}
/* text block on the image styling */
.text-block {
  position: absolute;
  bottom: 10px;
  center: 20px;
  background-color: #4aaaa5;
  color: white;
  width:89%;
  text-align: center;
  padding-left: 20px;
  padding-right:30px; */
}
/* just testing contact link*/
body {
  padding-top:20px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #ffffff;
  border-color: #dddddd;
  color: #777777;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  background: #666666;

}
header {
  left:0;
  top:0;
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  color: black;
  background: #ffffff;
}

img{
  width:"70%";
}